{% extends "base.html" %}

{% load static %}

{% block title %}Login{% endblock %}

{% block script_css %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div id="main">
    <div id="login">
        <section id="login-sns-section" class="section-login">
            <h2>SNSアカウントでログイン</h2>
            <div id="login-sns">
                <a href="" class="login-sns-button login-sns-facebook-button">
                    <span class="login-icon login-icon-facebook">
                        Facebookでログイン
                    </span>
                </a>
                <a href="" class="login-sns-button login-sns-twitter-button">
                    <span class="login-icon login-icon-twitter">
                        Twitterでログイン
                    </span>
                </a>
                <a href="" class="login-sns-button login-sns-github-button">
                    <span class="login-icon login-icon-github">
                        GitHubでログイン
                    </span>
                </a>
            </div>
        </section>
        <section id="login-center-section" class="section-login">
            <div id="login-center">
                <span class="login-icon">
                    or
                </span>
            </div>
            <div id="login-center-sp">
                <span class="login-icon">
                    or
                </span>
            </div>
        </section>
        <section id="login-section" class="section-login">
            <h2>メールアドレスでログイン</h2>
                <form action="" method="post" name="loginForm">
                {% csrf_token %}
                <input type="email" name="email" placeholder="email" v-model="email" @blur="emailFocus">
                <span class="error" v-if="error.email.require&&error.email.init">必須項目です。</span>
                <br>
                <input type="password" name="password" placeholder="Password" v-model="password" @blur="passwordFocus">
                <span class="error" v-if="error.password.require&&error.password.init">必須項目です。</span>
                <span class="error" v-if="error.password.tooShort">8文字以上です。</span>
                <br>
                <button class="login-btn" v-bind:disabled="!error.loginBtn">Login</button>
                {% if form.errors %}
                <p>Eメールアドレス または パスワードのミス</p>
                {% endif %}
            </form>
        </section>
    </div>
    {% if not user.is_authenticated %}
    <section id="register-section">
        <h2>アカウント作成はこちら</h2>
        <form method="post" name="registerForm">
            {% csrf_token %}
            <button class="register-btn" formaction="{% url 'user_create' %}">アカウント作成</button>
            <button class="register-btn" formaction="{% url 'password_reset' %}">パスワードをお忘れですか？</button>
        </form>
    </section>
    {% endif %}
</div>
<script src="{% static 'js/login.js' %}"></script>

{% endblock %}
