{% extends "base.html" %}

{% block title %}パスワード変更{% endblock %}

{% block content %}
<div id="main">
    <div class="row justify-content-md-center">
        <section>
            <div  class="col-6">
                <form action="" method="POST">
                    {{ form.non_field_errors }}
                    {% for field in form %}
                    <div class="form-group">
                        <label class="col-6" for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                        {{ field }}
                        {{ field.errors }}
                    </div>
                    {% endfor %}
                    {% csrf_token %}
                    <div class="form-group row">
                      <div class="col-sm">
                        <button type="submit" class="btn btn-primary btn-block">送信</button>
                      </div>
                      <div class="col-sm">
                        <button type="submit" class="btn btn-primary btn-block" onClick="javascript:history.go(-1);">戻る</button>
                      </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
{% endblock %}
