{% extends "base.html" %}

{% block title %}パスワード変更完了{% endblock %}

{% block content %}
<div id="main">
  <section>
    <div class="row justify-content-md-center">
      <div  class="col-4">
        <p>パスワードを変更しました。</p>
        <div class="form-group row">
          <div class="col-6">
            <a class="btn btn-primary btn-block" href="{% url 'top' %}">トップへ</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}