{% extends "base.html" %}

{% block content %}
<div id="main">
    <section>
        <form action="" method="POST">
            {{ form.non_field_errors }}
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-block">送信</button>
        </form>
    </section>
</div>
{% endblock %}
