{% extends "base.html" %}

{% block title %}password reset{% endblock %}

{% block content %}
<div id="main">
    <section>
        <form action="" method="POST">
            {{ form.non_field_errors }}
            <p>メールを受信してパスワードの変更手続きを行います。</p>
            <p>メールアドレスを入力して送信ボタンを押してください。</p>
            <br>
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            {% csrf_token %}

            <p>メールアドレスはあらかじめシステムに登録が必要です。</p>
            <p>メールが届かない場合はシステム管理者に連絡してください。</p>
            <br/>
            <div class="form-group row">
              <div class="col-6">
                <button type="submit" class="btn btn-primary btn-block">送信</button>
              </div>
            </div>
        </form>
    </section>
</div>
{% endblock %}