{% extends "base.html" %}

{% block title %}
  パスワードリセット（メール送信）
{% endblock %}

{% block content %}
<div id="main">
    <section>
      <form action="" method="POST">
        <p>パスワードリセットのメールを送信しました。
          <br/>
          メールに記載されているリンクからパスワードの再設定を行ってください。
          <br/>
          <br/>
          <br/>
          <a class="btn btn-primary col-4" href="{% url 'top' %}">ログイン画面へ</a>
        </p>
      </form>
    </section>
</div>
{% endblock %}
