{% extends "base.html" %}
{% block content %}
<div id="main">
    <section>
        <form action="" method="POST">
        <p>
            パスワード再設定を完了しました。<br>
            <a class="btn btn-primary btn-block" href="{% url 'top' %}">ログイン</a>
        </p>
        </form>
    </section>
</div>
{% endblock %}
