{% extends "base.html" %}

{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
<div id="main">
    <section id="new-register-section">
        <h2 style="display: none;">新規登録</h2>
        <form action="" method="POST">
            {{ form.non_field_errors }}
            <div class="form-group">
                <label for="id_email">メールアドレス</label>
                <input type="email" name="email" placeholder="email" maxlength="254" class="form-control" required id="id_email">
                {{ form.email.errors }}
            </div>
            <div class="form-group">
                <label for="id_password1">パスワード</label>
                <input type="password" placeholder="Password" name="password1" class="form-control" required id="id_password1">
                {{ form.password1.errors }}
            </div>
            <div class="form-group">
                <label for="id_password2">パスワード(確認用)</label>
                <input type="password" placeholder="Password" name="password2" class="form-control" required id="id_password2">
                {{ form.password2.errors }}
            </div>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-lg">送信</button>
            </form>
    </section>
    <a href="{% url 'quizzes:top' %}">Homeに戻る</a>
</div>
{% endblock %}
