{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div id="main">
    <p>
        会員登録確認メールを送信しました。まだ、会員登録は完了していません。<br>
        確認メールを送信しましたので、確認メールに記載されているリンクから本登録を行ってください。
    </p>
</div>
{% endblock %}
