{% extends "base.html" %}
{% block content %}
<div id="main">
    <p>
        本登録が完了しました。<br>
        登録されたメールアドレスとパスワードでログインしてください。<br>
        <a class="btn btn-primary btn-lg" href="{% url 'login' %}">ログイン</a>
    </p>
</div>
{% endblock %}