
@charset "utf-8";

div#login{
	display: block;
	width: 100%;
	max-width: 950px;
	margin: 24px auto;
}
.login-icon-facebook:before{
	color: transparent;
	content: '';
	display: inline-block;
	width: 30px;
	height: 30px;
	background-image: url(../../static/img/flogo_RGB_HEX-72.png);
	background-size: contain;
	vertical-align: middle;
}
.login-icon-twitter:before {
	color: transparent;
	content: '';
	display: inline-block;
	width: 30px;
	height: 30px;
	background-image: url(../../static/img/Twitter_Logo_WhiteOnBlue.png);
	background-size: contain;
	vertical-align: middle;
}
.login-icon-github:before {
	color: transparent;
	content: '';
	display: inline-block;
	width: 30px;
	height: 30px;
	background-image: url(../../static/img/GitHub-Mark-32px.png);
	background-size: contain;
	vertical-align: middle;
}
.login-sns-button{
	display: block;
	width: 260px;
	margin: 24px auto;
	text-decoration: none;
}
a.login-sns-facebook-button{
	background-color: 	#4267B2;
	border-radius: 25px;
	min-width: 140px;
	padding: 3px 30px;
	font-size: 16px;
	line-height: 44px;
}
a.login-sns-twitter-button{
	background-color: #1DA1F2;
	border-radius: 25px;
	min-width: 140px;
	padding: 3px 30px;
	font-size: 16px;
	line-height: 44px;
}
a.login-sns-github-button{
	background-color: #444;
	border-radius: 25px;
	min-width: 140px;
	padding: 3px 30px;
	font-size: 16px;
	line-height: 44px;
}
span.login-icon{
	color: #fff;
	margin: 24px auto;
}

section.section-login{
	display: inline-block;
	vertical-align: top;
	margin: 0 auto;
}
section#login-section{
	display: inline-block;
	width: 100%;
    max-width: 390px;
    vertical-align: top;
}
input[type="email"] ,
input[type="password"] {
     width: calc(100% - 40px);
}

section#login-sns-section{
    display: inline-block;
    width: 450px;
    vertical-align: top;
}
section#login-center-section{
    height: 365px;
}
div#login-center-sp {
	display: none;
}
@media (max-width: 767px){
	#login-center{
		display: none;
	}
	section#login-center-section {
		height: 35px;
		width: 100%;
	}
	div#login-center-sp {
		position: relative;
		width: 100%;
		padding: 0;
		margin: 5px 0;
		text-align: center;
		transform: translateZ(0);
	}
	div#login-center-sp:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		border-top: 1px solid #d8d8d8;
	}
	div#login-center-sp > span.login-icon{
		position: relative;
		top: calc(50% - 15px);
		display: inline-block;
		border-radius: 100%;
		background-color: #efffef;
		color: #000;
	}
	div#login > section.section-login{
		width: 100%;
		margin: 24px auto;
		max-width: initial;
	}
}
div#login-center {
	position: relative;
    height: 100%;
    padding: 0;
    margin: 0 20px;
    text-align: center;
    transform: translateZ(0);
}
div#login-center:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	border-left: 1px solid #d8d8d8;
}
div#login-center > span.login-icon{
	position: relative;
	top: calc(50% - 15px);
	display: inline-block;
	border-radius: 100%;
	background-color: #efffef;
    color: #000;
}