@charset "utf-8";

/*  タブメニュー全体の設定 */
#top_menu_tab {
	/* position: absolute;
	top: 120px; */
	margin: auto;
	padding: 0px;
	/* width: 50%;
	min-width: 850px; */
	z-index: 2;
}

#top_menu_tab.main_content{
	height:30px;
	right: 0;
	margin: 0;
}

/*  タブ設定 */
ul.tab_all{
	display: block;
	margin: 0 auto;
	float: right;
	position: static;
	white-space: nowrap;
}

.tab_all li {
	margin: 0px;
	padding: 0px;
	display: block;
	float: left;
	width: 100px;
	min-width: 15%;
	text-align: center;
	font-size:100%;

}

#top_menu_tab .tab_all a{
	height: 25px;
}

/*  タブごとの配色設定 */
#top_menu_tab .tab_all a.Exercise {text-decoration:none;
	background-color:#fafafa;
	border-right:1px solid #dcdcdc;
	border-left:1px solid #dcdcdc;
	border-top: 3px solid rgba(170, 0, 0, 0.85);
	color: #666;
	font-weight:600;
	border-radius: 0 10px;
}
#top_menu_tab .tab_all a.tab2 {text-decoration:none; background-color:#fafafa;border-right:1px solid #dcdcdc;border-top: 3px solid rgba(0, 0, 170, 0.85);  color: #666; font-weight:600;border-radius: 0 10px;}
#top_menu_tab .tab_all a.tab3 {text-decoration:none; background-color:#fafafa;border-right:1px solid #dcdcdc;border-top: 3px solid rgba(0, 170, 0, 0.85);  color: #666; font-weight:600;border-radius: 0 10px;}
#top_menu_tab .tab_all a.tab4 {text-decoration:none; background-color:#fafafa;border-right:1px solid #dcdcdc;border-top: 3px solid rgba(170, 0, 0, 0.85);  color: #666; font-weight:600;border-radius: 0 10px;}
#top_menu_tab .tab_all a.tab5 {text-decoration:none; background-color:#fafafa;border-right:1px solid #dcdcdc;border-top: 3px solid rgba(0, 0, 170, 0.85);  color: #666; font-weight:600;border-radius: 0 10px;}
#top_menu_tab .tab_all a.tab6 {text-decoration:none; background-color:#fafafa;border-right:1px solid #dcdcdc;border-top: 3px solid rgba(0, 170, 0, 0.85);  color: #666; font-weight:600;border-radius: 0 10px;}



.tab1_all li a {
	margin: 0px;
	padding: 5px;
}

.tab1_all li a:hover {opacity:0.7;filter:alpha(opacity=70);}

/* #main_content{
	position: absolute;
	top: 180px;
	display: block;
	left:318px;
	right:0px;
	min-width: 700px;
	height: 100%;
	z-index: 1;
} */

/*  タブ中身のボックス */
/* #tabbody{
	display: inline;
	position: absolute;
	top: 0;
	left: 0;
	right: 350px;
	z-index: -2;
} */
#tabbody div.tab {
	height: 510px;
	overflow-y: scroll;
	position: relative;
	margin: auto;
	clear: left;
}

#tabbody h2{
	text-align: center;
	font-size: 25px;
	margin: 1em;
}

#tabbody #Exercise .Exercise_all{
	height: 100px;
	padding-bottom: 0px;
	margin:30px 50px;
}

#tabbody #Exercise .Exercise_all a{
	font-size: 20px;
	padding-top:30px;
}

#tabbody #Exercise .Exercise_all li{padding-left: 30px;}
#tabbody #Exercise .Exercise_all li a{width:22%; float: left; }

#tabbody #tab3 p{text-align: center; font-size: 50px;  margin: 1em;}
#tabbody #tab4 p{text-align: center; font-size: 50px;  margin: 1em;}

/*  各ボックスの配色設定 */
#Exercise { border: 2px solid #DDD; background-color:#FFFFFF}
#tab2 { border: 2px solid #DDD; background-color: #FFFFFF;}
#tab3 { border: 2px solid #DDD; background-color: #FFFFFF;}
#tab4 { border: 2px solid #DDD; background-color: #FFFFFF;}
#tab5 { border: 2px solid #DDD; background-color: #FFFFFF;}
#tab6 { border: 2px solid #DDD; background-color: #FFFFFF;}

#leftside-content{
	position: absolute;
	top: 212px;
	left: 0;
	height: 780px;
	width: 318px;
	z-index: -1;
	display: none;
}
#rightside-content{
	top: 0;
	display: inline;
	position: absolute;
	right: 0;
	height: 780px;
	width: 350px; z-index: -1;
}
/* 暫定の非表示 */
#leftside-content, #rightside-content {
	display: none;
}
#free-space textarea{position: absolute;
	top: 20px;
	margin-left: 5px;
	height:100px;
	width: 90%;
	border-radius: 3px;
	word-break: break-all;
}


/* 山岡さん分 */
#home-content .content-box {
	position: relative;
	margin: auto;
	margin-top: 30px;
	width: 90%;
}

#home-content .content-box .togle {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

#home-content .detail-btn {
	position: relative;
	bottom: 0;
	right: 0;
	text-align: right;
	border: solid 1px #003366;
	background-color: #1b8dbb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #FFFFFF;
}

#home-content .quiz-content-javascript {
	display: inline-block;
	margin: 10px;
	width: 80px;
	height: 130px;
	padding: 10px;
	background: url('../img/javascript.png');
}

#home-content .quiz-content-css {
	display: inline-block;
	width: 80px;
	height: 130px;
	margin: 10px;
	padding: 10px;
	background: url('../img/css.png');
}

#home-content .quiz-content-new {
	display: inline-block;
	margin: 10px;
	width: 80px;
	height: 130px;
	padding: 10px;
	background: url('../img/new.png');
}

#home-content .quiz-area {
	text-align: left;
	padding: 10px;
	height: 150px;
	overflow-y: hidden;
	overflow-x: auto;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

#home-content .quiz-area-activate {
	height: 400px;
	overflow-y: auto;
}

#home-content .fotter-area {
	text-align: right;
}
