/* 20180806 */
@charset "utf-8";

/* Common */
* {
	font-family:'Lato', 'Noto Sans Japanese', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	letter-spacing: 1px;
}
body {
	/* background: linear-gradient(#27ae60, #2ecc71); */
	background: #efffef;
	padding-top: 50px;
}

header {
	position: fixed;
	top: 0;
	padding: 10px;
	width: 100%;
	/* max-width: 1580px; */
	margin: auto;
	z-index: 1;
}

footer {
	padding: 10px;
	/* max-width: 1580px; */
	margin: auto;
}

#main {
	padding: 10px;
	max-width: 1280px;
	margin: 30px auto 40px;
    padding: 40px 40px 30px;
	min-height: calc(100vh - 216.5px);
	width: 100%;
	box-sizing: border-box;
}
section {
	margin: 30px auto;
	text-align: center;
}
h2 {
	position: relative;
	padding: 0.5em 1.5em;
	border: 1px solid #CCC;
	border-radius: 5px;
	background-color: #FFF;
	width: 70%;
	margin: 20px auto;
}
h2::after {
	position: absolute;
	top: 50%;
	left:0.7em;
	transform:translateY(-50%);
	content: '';
	width: 5px;
	height:25px;
	background-color: tomato;
}
a {
	color: tomato;
	display: block;
}
input[type="text"] ,
input[type="email"] ,
input[type="tel"] ,
input[type="password"] ,
textarea ,
select {
	padding: 10px;
	font-size: 16px;
	width: calc(100% - 40px);
	margin: 20px auto 5;
	border: 1px solid rgb(169, 169, 169);
	display: block;
}
@media (min-width: 769px) {
	input[type="text"] ,
	input[type="email"] ,
	input[type="tel"] ,
	input[type="password"] ,
	textarea ,
	select {
		width: calc(50% - 65px);
	}
}
input[type="radio"] ,
input[type="checkbox"] {

}
button:not(:disabled) {
	background: #222;
	color: #fff;
	cursor: pointer;
}
button {
	font-size: 20px;
	padding: 10px 30px;
	width: auto;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.error {
	color: red;
	display: block;
}
.hyde {
	display: none;
}
@media (min-width: 769px) {
	.error {
		
	}
}
.title {
	position: relative;
	color: #333333;
	text-shadow: 0 0 2px white;
	background: #FFFFFF;
	z-index: -4;
	border-radius: 0 10px 10px;
	font-size: 22px;
	padding: 5px 0;
}
.title:before {
	content: "";
	position: absolute;
	background: tomato;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	top: 50%;
	/* border: dashed 1px white; */
	left: -15px;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: -1;
}
.sub-title {
	position: relative;
	padding-left: 1.5em;
	line-height: 1.4;
	color: black;
	font-size: 18px;
	margin-bottom: 30px;
}
.sub-title:before{
	font-family: "Font Awesome 5 Free";
	content: "\f111";
	position: absolute;
	font-size: 18px;
	left: 0;
	top: 0;
	color: #a1ceff;
}

/* Header Detail */
header {
	/* background: linear-gradient(#34495e, #2c3e50); */
	background: #2b2b2b;
}
#header-logo {
	margin: 5px auto;
	font-size: 24px;
	text-align: center;
	width: 221px;
}
#header-logo a{
	text-decoration: none;
}
.header-content {
	float: right;
}
.header-content ul {
	display: none;
}
#burger-menu, #burger-menu::before, #burger-menu::after {
	width: 16px;
	height: 2px;
	background-color: #FFF;
	border-radius: 4px;
	position: relative;
	display: block;
	top: 15px;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform,-webkit-transform;
	transition-duration: .15s;
	transition-timing-function: ease;
}
#burger-menu::before {
	content: "";
	top: -5px;
}
#burger-menu::after {
	content: "";
	top: 3px;
}
@media (min-width: 769px) {
	#header-logo {
		margin: 5px;
	}
	.header-content {
		padding: 10px;
		display: block;
	}
	.header-content ul {
		display: block;
	}
	#burger-menu {
		display: none;
	}
}
.header-content ul li {
	display: inline-block;
	margin: 0 10px;
}
/* Footer Detail */
footer {
	bottom: 0;
	left: 0;
	position: relative;
	right: 0;
	margin-top: 40px;
}
.footer-content {
	padding: 0.2em 0.5em;
	/* background: linear-gradient(#2c3e50, #34495e); */
	background: #2b2b2b;
	box-shadow: 0px 0px 0px 10px #2b2b2b;
	border: dashed 2px white;
}
.footer-content ul.links li {
	width: 48%;
	margin-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
}
.footer-content ul.links li:nth-child(2n+1) {
	margin-right: 2%;
}
.footer-content ul.links li a {
	position: relative;
}

/* Content Detail */
.register-btn {
	font-size: 12px;
	border: none;
}

.q-content {
	margin: 40px 10px;
	padding: 30px 10px;
	background: #F9F9F9;
	border: 1px solid cadetblue;
}
.q-content ul li input {
	display: inline;
}



/* ホワイトボード風　タイトル　4 */
.wboard-w4 {
	position: relative;
	margin: 2em auto;
	padding: 3.5em 1em 1em;
	width: 90%; /* ボックス幅 */
	background: #fff; /* ボックス背景色 */
	font-weight: bold; /* テキスト太字 */
	color: #000000; /* 文章色 */
	border: 5px solid #c6c6c6; /* 枠線 */
	border-radius: 3px; /* 角の丸み */
	box-shadow: 0 0 8px #333, 0 0 2px #555 inset;
}
.wboard-w4::before,
.wboard-w4::after {
	position: absolute;
	content: '';
	width: 25px;
	bottom: 3px;
	border-radius: 2px;
	box-shadow: 1px 1px 3px #666;
}
.wboard-w4::before {
	right: 55px;
	border: solid 3px #ff0000; /*飾ペン赤 */
}
.wboard-w4::after {
	right: 20px;
	border: solid 3px #333; /*飾ペン黒 */
	transform: rotate(8deg); /*飾ペン角度 */
}
.title-w4 {
	position: absolute;
	padding: .1em .5em;
	left: 1em;
	top: .5em;
	font-weight: bold;
	font-size: 1.1em; /* 文字サイズ */
	color: #ff4747; /* タイトル文字色 */
	background-color: #ffffff; /* ボックス背景色 */
	box-shadow: 1px 1px 3px #a0a0a0;
}
