{% extends "base.html" %}

{% load static %}

{% block title %}MyPage{% endblock %}

{% block content %}
<div id="main">
    <div>問題の作成・閲覧、回答の進捗状況を確認することができます。</div>
    <div id="home-content">
        <section>
            <ul>
            {% for list in object_list %}
                <li>{{ list.title }}</li>
                <li>{{ list.workbook_description }}</li>
            {% empty %}
                <li>問題集がありません。</li>
            {% endfor %}
            {% if user.is_authenticated %}
                <li>ログイン時だけ見えます。</li>
            {% endif %}
            </ul>
        </section>
    </div>
</div>
{% endblock %}
