{% load static %}

<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
		<title>{% block title %}{% endblock %} |  UPLOAD e-learning</title>
		<link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
		<link href="{% static 'css/reset.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
		{% block script_css %}{% endblock %}
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	</head>
	<body>
		<header>
			<div class="header-content">
				<span id="burger-menu"></span>
				<ul>
					{% if not user.is_authenticated %}
					<li><a href="{% url 'user_create' %}">Register</a></li>
					<li><a href="{% url 'login' %}">Login</a></li>
					{% else %}
					<li><a>{{user}}でログイン中</a></li>
					<li><a href="{% url 'password_change' %}">change password</a></li>
					<li><a href="{% url 'logout' %}">Logout</a></li>
					{% endif %}
				</ul>
			</div>
			<div id="header-logo"><a href="{% url 'quizzes:top' %}"><span>UPLGE E-learning</span></a></div>
		</header>
        {% block content %}{% endblock %}
		<footer>
			<div class="footer-content">
				<ul class="links">
					<li><a class="arrow-right" href="https://www.upload-gp.co.jp/" target="_blank">UPLOAD 公式HP</a></li>
					<li><a class="arrow-right" href="https://www.upload-gp.co.jp/privacy.html" target="_blank">プライバシーポリシー</a></li>
					<li><a class="arrow-right" href="https://www.upload-gp.co.jp/outline.html" target="_blank">会社概要</a></li>
					<li><a class="arrow-right" href="https://www.upload-gp.co.jp/outline.html#contact" target="_blank">お問い合わせ</a></li>
				</ul>
			</div>
		</footer>
	</body>
</html>
